<% if !@signed_in %>
  <div class="jumbotron">
    <h1>Homerpicks</h1>
    <p class="lead">Check out some Baseball predictions.</p>
    <p class="lead">Bitch.</p>
    <p><%= link_to "sign in", new_user_session_path, class: "btn btn-lg btn-success" %></a>
  </div>
<% end %>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Who</th>
      <th>What</th>
      <th>Wins</th>
      <th>Losses</th>
      <% if !current_user.nil? && current_user.prediction.confirmed %><th>How many players will<br/>have an OPS over 1.000?</th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @predictions.each do |p| %>
      <tr>
        <td><%= p.user.display_name %></td>
        <td><%= p.team %></td>
        <td><%= p.wins %></td>
        <td><%= p.losses %></td>
        <% if !current_user.nil? && current_user.prediction.confirmed %><td><%= p.tiebreaker %></td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>