<!DOCTYPE html>
<html>
<head>
  <title>Homerpicks</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">
    <% if !current_user.equal?(nil) %>
    <%= render 'layouts/navbar' %>
    <% end %>
  <p class="bg-warning"><%= alert %></p>
  <p class="bg-info"><%= notice %></p>
<%= yield %>
  </div>
</body>
</html>
